- content_for :page_title do
  = t('auth.captcha_confirmation.title')

= form_tag auth_captcha_confirmation_url, method: 'POST', class: 'simple_form' do
  = render 'auth/shared/progress', stage: 'confirm'

  = hidden_field_tag :confirmation_token, params[:confirmation_token]
  = hidden_field_tag :redirect_to_app, params[:redirect_to_app]

  - if hcaptcha_enabled?
    %p.lead= t('auth.captcha_confirmation.hint_html')

    .field-group
      = render_captcha

  - if korean_captcha_enabled?
    %p.lead= t('simple_form.labels.defaults.korean_captcha')

    .field-group.korean-captcha
      %pre.question= Setting.korean_captcha_question
      %input.answer{ required: 'true', name: 'korean_captcha_answer' }

  .actions
    %button.button= t('challenge.confirm')
