- content_for :page_title do
  = t('auth.captcha_confirmation.title')

= form_tag auth_captcha_confirmation_url, method: 'POST', class: 'simple_form' do
  = hidden_field_tag :confirmation_token, params[:confirmation_token]

  - if hcaptcha_enabled?
    .field-group
      %p.hint= t('auth.captcha_confirmation.hint_html')

    .field-group
      = render_captcha

  - if korean_captcha_enabled?
    .field-group.korean-captcha
      %p.hint= t('simple_form.labels.defaults.korean_captcha')
      %p.question= Setting.korean_captcha_question
      %input.answer{'required': 'true', name: 'korean_captcha_answer'}

  .actions
    %button.button= t('challenge.confirm')
